<div id="jumbo" class="jumbotron"><h1>Cursos</h1></div>

<div class="container-fluid" ng-controller="cursos">
  <div class="row">
    <div class="col-md-2">
      <ul class="nav flex-column">
        <li class="nav-item dropdown" style="border-bottom: 1px solid grey;">
          <a class="nav-link btn" style="font-size: 18px;" ng-click="mostrar('cartas')" ng-class="cartas">Cartas</a>
        </li>
        <li class="nav-item dropdown" style="border-bottom: 1px solid grey;">
          <a class="nav-link btn" style="font-size: 18px;" ng-click="mostrar('monedas')" ng-class="monedas">Monedas</a>
        </li>
        <li class="nav-item dropdown" style="border-bottom: 1px solid grey;">
          <a class="nav-link btn" style="font-size: 18px;" ng-click="mostrar('cuerda')" ng-class="cuerda">Cuerdas</a>
        </li>
      </ul>
    </div>
    <div ng-if="cartas == 'active'">
       <div class="col-md-3"><button class="btn btn-block btn-primary">
      <h3 style="padding-top: 45%; padding-bottom: 45%;"><strong>Básico</strong></h3>
      </button>
    </div>
       <div class="col-md-3"><button class="btn btn-primary btn-block">
      <h3 style="padding-top: 45%; padding-bottom: 45%;"><strong>Intermedio</strong></h3>
      </button>
    </div>
    <div class="col-md-3"><button class="btn btn-primary btn-block" >
      <h3 style="padding-top: 45%; padding-bottom: 45%;"><strong>Avanzado</strong></h3>
      </button>
    </div>
    </div>
    <div ng-if="monedas == 'active'">
   <div class="col-md-3"><button class="btn btn-primary btn-block">
      <h3 style="padding-top: 45%; padding-bottom: 45%;"><strong>Básico</strong></h3>
      </button>
    </div>
       <div class="col-md-3"><button class="btn btn-primary btn-block" >
      <h3 style="padding-top: 45%; padding-bottom: 45%;"><strong>Intermedio</strong></h3>
      </button>
    </div>
    <div class="col-md-3"><button class="btn btn-primary btn-block" >
      <h3 style="padding-top: 45%; padding-bottom: 45%;"><strong>Avanzado</strong></h3>
      </button>
    </div>
    </div>
    <div ng-if="cuerda == 'active'">
     <div class="col-md-3"><button class="btn btn-primary btn-block">
      <h3 style="padding-top: 45%; padding-bottom: 45%;"><strong>Básico</strong></h3>
      </button>
    </div>
       <div class="col-md-3"><button class="btn btn-primary btn-block" >
      <h3 style="padding-top: 45%; padding-bottom: 45%;"><strong>Intermedio</strong></h3>
      </button>
    </div>
    <div class="col-md-3"><button class="btn btn-primary btn-block" >
      <h3 style="padding-top: 45%; padding-bottom: 45%;"><strong>Avanzado</strong></h3>
      </button>
    </div>
    </div>
    <div ng-if="inicio">
      <div class="well col-md-7 col-md-offset-1">
      <p><mark>Disponemos de una serie de distintos cursos de magia, que constan de varias clases impartidas en video distribuidas en varios tipos y varios niveles de dificultad para un aprendizaje mas personalizado.</mark><br><br>
      <strong>Selecciona en el menu lateral el tipo de curso y el nivel de dificultad de éste para informarse de cada uno de los cursos disponibles</strong></p>
    </div>
    </div>
  </div>
</div>





  