<div id="jumbo" class="jumbotron"><h1>Cursos</h1></div>

<div class="container-fluid" ng-controller="cursos">
  <div class="row">
    <div class="col-md-2">
      <ul class="nav flex-column">
        <li class="nav-item dropdown" style="border-bottom: 1px solid grey;">
          <a class="nav-link" style="font-size: 18px;" ng-click="mostrar('cartas')">Cartas</a>
        </li>
        <li class="nav-item dropdown" style="border-bottom: 1px solid grey;">
          <a class="nav-link" style="font-size: 18px;" ng-click="mostrar('monedas')">Monedas</a>
        </li>
        <li class="nav-item dropdown" style="border-bottom: 1px solid grey;">
          <a class="nav-link" style="font-size: 18px;" ng-click="mostrar('cuerda')">Cuerdas</a>
        </li>
      </ul>
    </div>
    <div ng-show="cartas">
    <div class="well col-md-3">
      <h3 style="text-align: center;"><strong>Cartas Nivel Basico</strong></h3>
      <p>Con este curso conseguirás una buena base y una introducción a la cartomagia y sus trucos y técnicas, ideal para personas que no hayan tenido ningún contacto con los trucos de magia y deseen iniciarse.</p>
      <p><strong>Caracteristicas:</strong><br>
        <ul>
          <li>Para usuarios principiantes</li>
          <li>X horas de contenido audiovisual</li>
          <li>Baraja de cartas francesa necesaria</li>
        </ul>
        <a class="btn btn-primary btn-block" href="#!/registrar">Registrate para inscribite</a>
      </p>
    </div>
    <div class="well col-md-3" style="background-color: white;">
      <h3 style="text-align: center;"><strong>Cartas Nivel Medio</strong></h3>
      <p>Con este curso conseguirás una buena base y una introducción a la cartomagia y sus trucos y técnicas, ideal para personas que no hayan tenido ningún contacto con los trucos de magia y deseen iniciarse.</p>
      <p><strong>Caracteristicas</strong><br>
        <ul>
          <li>Para usuarios con algo de experiencia</li>
          <li>X horas de contenido audiovisual</li>
          <li>Baraja de cartas francesa necesaria</li>
        </ul>
         <a class="btn btn-primary btn-block" href="#!/registrar">Registrate para inscribite</a>
      </p>
    </div>
    <div class="well col-md-3">
      <h3 style="text-align: center;text-decoration: underline;"><strong>Cartas Nivel Avanzado</strong></h3>
      <p>Con este curso conseguirás una buena base y una introducción a la cartomagia y sus trucos y técnicas, ideal para personas que no hayan tenido ningún contacto con los trucos de magia y deseen iniciarse.</p>
      <p><strong>Caracteristicas</strong><br>
        <ul>
          <li>Usuarios de nivel alto</li>
          <li>X horas de contenido audiovisual</li>
          <li>Baraja de cartas francesa necesaria</li>
          
        </ul>
        <a class="btn btn-primary btn-block" href="#!/registrar">Registrate para inscribite</a>
      </p>
    </div>
    </div>
    <div ng-show="monedas">
    <div class="well col-md-3">
      <h3 style="text-align: center;"><strong>Monedas Nivel Basico</strong></h3>
      <p>Con este curso conseguirás una buena base y una introducción a la magia con monedas y sus trucos y técnicas, ideal para personas que no hayan tenido ningún contacto con los trucos de magia y deseen iniciarse.</p>
      <p><strong>Caracteristicas:</strong><br>
        <ul>
          <li>Para usuarios principiantes</li>
          <li>X horas de contenido audiovisual</li>
          <li>Set de monedas</li>
        </ul>
        <a class="btn btn-primary btn-block" href="#!/registrar">Registrate para inscribite</a>
      </p>
    </div>
    <div class="well col-md-3" style="background-color: white;">
      <h3 style="text-align: center;"><strong>Monedas Nivel Medio</strong></h3>
      <p>Con este curso conseguirás una buena base y una introducción a la magia con monedas y sus trucos y técnicas, ideal para personas que no hayan tenido ningún contacto con los trucos de magia y deseen iniciarse.</p>
      <p><strong>Caracteristicas</strong><br>
        <ul>
          <li>Para usuarios con algo de experiencia</li>
          <li>X horas de contenido audiovisual</li>
          <li>Set de monedas</li>
        </ul>
         <a class="btn btn-primary btn-block" href="#!/registrar">Registrate para inscribite</a>
      </p>
    </div>
    <div class="well col-md-3">
      <h3><strong>Monedas Nivel Avanzado</strong></h3>
      <p>Con este curso conseguirás una buena base y una introducción a la magia con monedas y sus trucos y técnicas, ideal para personas que no hayan tenido ningún contacto con los trucos de magia y deseen iniciarse.</p>
      <p><strong>Caracteristicas</strong><br>
        <ul>
          <li>Usuarios de nivel alto</li>
          <li>X horas de contenido audiovisual</li>
          <li>Set de monedas</li>
          
        </ul>
        <a class="btn btn-primary btn-block" href="#!/registrar">Registrate para inscribite</a>
      </p>
    </div>
    </div>
    <div ng-show="cuerda">
    <div class="well col-md-3">
      <h3 style="text-align: center;"><strong> Cuerdas Nivel Basico</strong></h3>
      <p>Con este curso conseguirás una buena base y una introducción a la cartomagia y sus trucos y técnicas, ideal para personas que no hayan tenido ningún contacto con los trucos de magia y deseen iniciarse.</p>
      <p><strong>Caracteristicas:</strong><br>
        <ul>
          <li>Para usuarios principiantes</li>
          <li>X horas de contenido audiovisual</li>
          <li>Cuerda y tijeras</li>
        </ul>
        <a class="btn btn-primary btn-block" href="#!/registrar">Registrate para inscribite</a>
      </p>
    </div>
    <div class="well col-md-3" style="background-color: white;">
      <h3 style="text-align: center;"><strong>Cuerdas Nivel Medio</strong></h3>
      <p>Con este curso conseguirás una buena base y una introducción a la cartomagia y sus trucos y técnicas, ideal para personas que no hayan tenido ningún contacto con los trucos de magia y deseen iniciarse.</p>
      <p><strong>Caracteristicas</strong><br>
        <ul>
          <li>Para usuarios con algo de experiencia</li>
          <li>X horas de contenido audiovisual</li>
          <li>Cuerda y tijeras</li>
        </ul>
         <a class="btn btn-primary btn-block" href="#!/registrar">Registrate para inscribite</a>
      </p>
    </div>
    <div class="well col-md-3">
      <h3><strong>Cuerdas Nivel Avanzado </strong></h3>
      <p>Con este curso conseguirás una buena base y una introducción a la cartomagia y sus trucos y técnicas, ideal para personas que no hayan tenido ningún contacto con los trucos de magia y deseen iniciarse.</p>
      <p><strong>Caracteristicas</strong><br>
        <ul>
          <li>Usuarios de nivel alto</li>
          <li>X horas de contenido audiovisual</li>
          <li>Cuerda y tijeras</li>
          
        </ul>
        <a class="btn btn-primary btn-block" href="#!/registrar">Registrate para inscribite</a>
      </p>
    </div>
    </div>
  </div>
</div>





  